@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.woff2") format("woff2"),
       url("Inter-Thin.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-ThinItalic.woff2?v=3.19") format("woff2"),
       url("Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLight.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.woff2?v=3.19") format("woff2"),
       url("Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-LightItalic.woff2?v=3.19") format("woff2"),
       url("Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.woff2?v=3.19") format("woff2"),
       url("Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-Medium.woff2?v=3.19") format("woff2"),
       url("Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-MediumItalic.woff2?v=3.19") format("woff2"),
       url("Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBold.woff2?v=3.19") format("woff2"),
       url("Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
       url("Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
       url("Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBold.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-BlackItalic.woff2?v=3.19") format("woff2"),
       url("Inter-BlackItalic.woff?v=3.19") format("woff");
}

/*--------- root -----------------------------------------------------------*/

:root{
  
  --text-grey: rgb(239, 239, 239);
  --faded-black: rgb(17, 17, 17);
  color:var(--faded-black);
}

html{
  font-size: 16px;
}
body{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-image: url(attachment/256colors100pc.gif);
  background-size: cover;
  background-repeat: no-repeat;
 
}

/*.wrapper2parts {
display :grid;

grid-template-columns:1fr 1fr;

}*/

.wrapperLeft{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/*---------- header -----------*/
header{
  margin:1rem;
}

.logo{
  font-size: 1.6rem ;
  font-weight: 400;
  margin-bottom: 0rem;
}

.sublogo{
  font-size:1rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 0rem;
}

/*---------- main ---------------*/

.pluginPres{
  display:flex;
  flex-direction: column;
  margin-left: calc(15vw + 2em);
  margin-bottom:2rem;
}

.title{
  font-size: calc(6rem + 3vw);
  font-style: bold;
  margin:0rem;
  margin-left:-2rem;  
}

.catch{
  font-size: calc(2rem + 2vw);
  font-weight: 600 ;
  margin:0rem;
  margin-left: -1em;
}

.presentation{
margin:1rem;
margin-left:0rem;
}

.button{
  
  background-color: var(--faded-black);
  border-radius: 3px;
  padding:1rem 1.5rem;
  color: var(--text-grey);
  width:8rem;
  transition: background-color ease-in;
}

.button:hover{
  
  background-color: rgb(36, 36, 36);
  border-radius: 3px;
  padding:1rem 1.5rem;
  color: var(--text-grey) ;
  width:8rem;
}

/*------------ nav --------------*/

nav{
  display:block;
  margin:1rem;

}

ul{
  list-style: none;
  margin:0rem;
  padding:0rem;
  line-height: 1.75rem;
}

a{
  
  text-decoration: none;
}

a.nav:visited{
  color: var(--faded-black) ;
}

a.nav:hover{
  transition: transform 0.3 ease;
  font-weight: 600;
  text-decoration: none;
  color: var(--faded-black);
}

